


table {
    table-layout: fixed;
}

* {
    font-family: 'Source Code Pro' ;
}


td {
    border-radius: 3px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;

}

td:hover {
    cursor: hand;
    cursor: pointer;

}

.clicked:hover {
    cursor: default;
}

th {
    white-space: nowrap;

    text-align: right;
    width: 35px;
    height: 30px;
    max-width: 90px;
    max-height: 30px;

}

#gameTable tr:first-child th{
    text-align: left;
    white-space: nowrap;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    max-width: 30px;
    max-height: 90px;
    padding-bottom: 10px;
}

h3, h4 {
    text-align: right;
}

.flexbox-align {
    padding-top: 40px;

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
